body, html {
    margin-top: 60px;
    /* Center and scale the image nicely */
    background: url("../../img/Home_background.png") no-repeat top center;
    background-size: cover;
}

.home-container {
    text-align: center;
    height: 100%;
}

.home-title {
    /* Styles for the h1 element */
    font-size: 50px;
    font-family: Charter;
}